// rem fallback - credits: http://zerosixthree.se/


@function calculateRem($size) {
  $remSize: $size / 16px;
  @return $remSize * 1rem;
}

@mixin font-size($size) {
  font-size: $size;
  font-size: calculateRem($size);
}

// border radius

@mixin border-radius($radius:.25em) {
  border-radius: $radius;
}

// box-shadow

@mixin box-shadow($boxshadow: 0 0 3px rgba(#000, .2)) {
  box-shadow: $boxshadow;
}

// center vertically and/or horizontally an absolute positioned element

@mixin center($xy:xy) {
  @if $xy == xy {
    left: 50%;
    top: 50%;
    bottom: auto;
    right: auto;
    @include transform(translateX(-50%) translateY(-50%));
  }
  @else if $xy == x {
    left: 50%;
    right: auto;
    @include transform(translateX(-50%));
  }
  @else if $xy == y {
    top: 50%;
    bottom: auto;
    @include transform(translateY(-50%));
  }
}

@mixin user-select($value: none) {
  -webkit-user-select: $value;
  -khtml-user-select: $value;
  -moz-user-select: -moz-$value;
  -o-user-select: $value;
  user-select: $value;
}

@mixin transform($value: 0) {
  -webkit-transform: $value;
  -moz-transform: $value;
  -ms-transform: $value;
  -o-transform: $value;
}

@mixin transition($value: all .3s ease) {
  -webkit-transition: $value;
  -moz-transition: $value;
  transition: $value;
}

@mixin clearfix {
  &:after {
    content: "";
    display: table;
    clear: both;
  }
}
