// colors

$color-1: #7ac143; // Bleached Cedar
$color-2: #365899; // Minsk
$color-3: #ffffff; // White
$color-4: #e9ebee; // Grey
$color-5: #1d2129; //Black
$color-6: #3e495f;
$color-7: #f2f2f2;
$color-8: #627f9a;
$color-9: #d26e4b;
$color-10: #2f2f2f;
$background-0: rgba(0, 0, 0, .1);

// fonts

$primary-font: 'Source Sans Pro','Helvetica Neue',Helvetica,Arial,sans-serif;

// tab-filter size

$tab-filter-height: 45px;

$image-slide-home: 250px;
